<!-- sample footer 1
    <style>  
    .footer {  
    position: fixed;  
    left: 10px;  
    bottom: 5px;  
    right: 10px;   
    width: 95%;  
    background-color: black;  
    color: white;  
    text-align: center;  
    }  
</style>
<footer class="fixed-bottom">
  <div class="footer">
    &copy; Copyright {{  site.time | date: '%Y' }}  
    <a href="https://ajinkyad105.github.io">Ajinkya Dhekne</a> email: ajinkyad1.05@gmail.com
  </div>
</footer>-->

<!-- base minima footer-->
<style>
.site-footer.h-card {background-color: lightsalmon;}
</style>
<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">
              {%- if site.author -%}
                {{ site.author | escape }}
              {%- else -%}
                {{ site.title | escape }}
              {%- endif -%}
              </li>
              {%- if site.email -%}
              <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
              {%- endif -%}
          </ul>
        </div>
  
        <div class="footer-col footer-col-2">
          {%- include social.html -%}
        </div>
  
        <div class="footer-col footer-col-3">
          <!-- <p>{{- site.description | escape -}}</p> -->
          <li>
            <a href="#!" class="text-dark">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 2</a>
          </li>
        </div>

        <div class="footer-col footer-col-4">
          <!-- <p>{{- site.description | escape -}}</p> -->
          <li>
            <a href="#!" class="text-dark">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 4</a>
          </li>
        </div>

      </div>
  
    </div>
  
  </footer>
